<br/>
<button value="Home" mat-button (click)= "checkQueVar()" [routerLink]="['/']">Home</button>&nbsp;&nbsp;
<div class="row">
    <div class="column">
        <h1>Kennesaw Campus</h1>
      <img src="/assets/Kennesawcampus.jpg" alt="Snow" style="width:90%">
      <h4>Location & Working Hours </h4>
      Kennesaw Hall, Room - 2401 <br/>
      Phone: 470-578-6600   Fax: 470-578-9102 <br/>
      Monday - Friday, 8am-5pm  
      <h4>Mailing Address</h4>
      585 Cobb Ave NW<br/>
      MD 0117, Kennesaw Hall 2401<br/>
      Kennesaw, GA 30144 <br/>
      <h4>Registration for new students => Monday-Thursday @10am-4pm</h4>
    </div>
    <div class="column">
        <h1>Marietta Campus</h1>
      <img src="/assets/Mariettacampus.jpg" alt="Forest" style="width:82%">
      <h4>Location & Working Hours </h4>
      Joe Mack Wilson Student Center, A170 <br/>
      Phone:  470-578-7391   Fax:  470-578-9236 <br/>
      Monday - Friday, 8am-5pm <br/>
      <h4>Mailing Address</h4>
      1100 South Marietta Parkway<br/>
      Bldg. A, Suite 170<br/>
      Marietta, GA 30060<br/>  
      <h4>Registration for new students => Tuesday-Thursday, @12pm-4pm </h4>
    </div>
    <div class="column">
        <h1> KSU ClubHouse</h1>
      <img src="/assets/Clubhouse.jpg" alt="Mountains" style="width:82%">
      <h4>Location & Working Hours </h4>
      Located at the corner of UV Suites <br/>
      KSU Place Apartments on the Kennesaw Campus <br/>
      Phone:  470-578-4378 <br/>
      Monday - Friday, 8am-5pm <br/>
      <h4>Registration for new students => Tuesday-Thursday, @1pm-3pm</h4>
    </div>
</div>

